SUBSYSTEM=="drm", ACTION=="add", KERNEL=="renderD*", GROUP="render", MODE="0660"
SUBSYSTEM=="drm", ACTION=="add", DEVPATH=="*/renderD*", DRIVERS=="hydcu|amdgpu", ATTRS{vendor}=="0x1d94|0x1002", GROUP="render", MODE="0666"
SUBSYSTEM=="kfd|mkfd", ACTION=="add", GROUP="render", MODE="0666"
